
@{
    ViewBag.Title = "AdminDashboard";
}

<h2></h2>
<div class="row mt-4">
  <div class="col-md-3 text-center">
    @Html.ActionLink("View all Employer", "GetAllEmployer", "Employer", null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("View all Student", "GetAllStudent", "Student", null,new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("View all Instructor","GetAllInstructor", "Instructor", null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("View all Job Post", null, null, new { @class = "btn btn-primary btn-lg" })
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-3 text-center">
    @Html.ActionLink("Add new Admin", "RegisterAdmin", "Account",null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("Add new Employer", "RegisterEmployer", "Account",null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("Add new Instructor", "RegisterInstructor", "Account",null, new { @class = "btn btn-primary btn-lg" })
  </div>
  <div class="col-md-3 text-center">
    @Html.ActionLink("Add new Student", "RegisterStudent", "Account",null, new { @class = "btn btn-primary btn-lg" })
  </div>
</div>

