@model Mitt_job_posting_portal.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternshipStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternshipStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternshipEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternshipEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseEndeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseEndeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
