@model IEnumerable<Mitt_job_posting_portal.Models.JobPost>

@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
  <div class="card">
    <h5 class="card-header">@Html.DisplayFor(modelItem => item.Title)</h5>
    <div class="card-body">
      <h5 class="card-title">@Html.DisplayFor(modelItem => item.Employer.CompanyName)</h5>
      <h6 class="card-title">@Html.DisplayFor(modelItem => item.Employer.CompanyDetails)</h6>
      <hr />
      <h6 class="card-text">Round: </h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Rounds.IntakeTitle) From: @Html.DisplayFor(modelItem => item.Rounds.InternshipStartDate, "{0:d MMM yyyy}") To: @Html.DisplayFor(modelItem => item.Rounds.InternshipEndDate, "{0:d MMM yyyy}")</p>
      <h6 class="card-text">Required Skills: </h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Skills)</p>
      <h6 class="card-text">Description: </h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
      <h6 class="card-text">Location: </h6>
      <p class="card-text">@Html.DisplayFor(modelItem => item.Location)</p>
      <hr />
      @if (User.IsInRole("Student"))
      {
        @Html.ActionLink("Apply", "Create", "JobApplications", new { id = item.Id }, new { @class = "btn btn-primary" })
      }
      @if (User.IsInRole("Employer"))
      {
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
      }
      @if (User.IsInRole("Employer") || User.IsInRole("Admin"))
      {
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
      }
      @if (User.IsInRole("Employer") || User.IsInRole("Admin") || User.IsInRole("Instructor"))
      {
        @Html.ActionLink("View all application", "ViewAllJobApplication", "JobApplications", new { id = item.Id }, new { @class = "btn btn-primary" })
      }
    </div>
  </div>
}
