@model IEnumerable<Mitt_job_posting_portal.Models.JobApplication>

@{
  ViewBag.Title = "Index";
}

<h2>List of Applications:</h2>
@foreach (var item in Model)
{
<div class="card m-2">
  <h5 class="card-header">@Html.DisplayFor(modelItem => item.Student.Name)</h5>
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Student.CorseName.Name)</h5>
    <hr />
    <h6 class="card-text">Required Skills: </h6>
    <p class="card-text">@Html.DisplayFor(modelItem => item.Skills)</p>
    <h6 class="card-text">Message: </h6>
    <p class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>
    <h6 class="card-text">Previous Education: </h6>
    <p class="card-text">@Html.DisplayFor(modelItem => item.Student.PreviousEducation)</p>
    <p class="card-text">Details @Html.DisplayFor(modelItem => item.Student.PreviousEducationDetail)</p>
    <hr />
    @if (User.IsInRole("Student"))
    {
      @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
      @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("Download Resume", "Download", new { id = item.Id }, new { @class = "text-success" })
  </div>
</div>
}
